$yellow: #FFD20F;
$blue: #0e0ab3;
$light-blue: #6d75ff;
$white: #fff;

.aside {
	position: fixed;
	height: 100%;
	width: 28.7vw;
	left: 0;
	top: 0;
	bottom: 0;

	background-color: #fff;
	background-image: url('./menu_bg_3.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.panel {
	padding-top: 30px;
	height: 100%;
	width:  20.3vw;
	background-color: rgba(#fff, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;

	box-shadow: 10px 3px 30px 0px rgba(50, 50, 50, 0.8);
}

.panel__contact-email {
	padding: 0 10px;
	font-size: 1.9vw;
	text-align: center;
	font-family: 'Tinos', serif;
	font-weight: 700;	
	span {
		color: $blue;	
	}
}

.panel__contact-phone {
	padding: 0 10px;
	font-size: 2.8vw;
	text-align: center;
	font-family: 'Tinos', serif;
	span {
		color: $blue;	
	}		
}


.panel__logo {
	    padding: 4vh 20px 5vh;
	img {
	    width: 24vh;
	    height: 20vh;
		display: block;
	}
}


.panel__title {
	padding: 0 10px;
	font-size: 4.5vw;
	text-align: center;
	line-height: 1;
	color: $blue;
	text-align: left;
	font-family: 'the_huntsmanregular';
	text-transform: uppercase;
	&_sub {
		font-size: 1.3vw;
		color: black;
		font-family: 'Tinos', serif;
		font-weight: 700;
		text-transform: inherit;
		padding-left: 5px;
	}
}

ul.main-menu {
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: stretch;
	margin-top: 25px;
	-webkit-box-shadow: 0px -6px 10px 0px rgba(14, 10, 179, 0.4);
	-moz-box-shadow:    0px -6px 10px 0px rgba(14, 10, 179, 0.4);
	box-shadow:         0px -6px 10px 0px rgba(14, 10, 179, 0.4);
  	.main-menu__item {
	    padding: 15px 0;
		border-top: 1px solid #51473e;
		transition: all 0.5s ease-in-out;
		&:last-child {
			border-bottom: 1px solid #51473e;
		}
	    .main-menu__link {
	    	text-decoration: none;
	    	color: black;
	    	font-size: 2.8vh;
	    	font-family: Olympia_Deco, Arial;
	    	position: relative;
	    	padding: 0 20px;
    	}
    	.main-menu__link:hover, .main-menu__link:active {
			color: $blue;
		}
  	}
}


ul.products-menu {
	list-style: none;
	display: flex;	
	flex-direction: column;
	border-top: 1px solid #51473e;
	margin-bottom: -15px;
  	.products-menu__item {
	    padding: 5px 0;
	    background-color: $light-blue;
	    margin: 3px 0;
	    padding-left: 50px;
	    display: block;
	    transition: all 0.2s ease-in;
	    .products-menu__link {
	    	text-decoration: none;
	    	color: #000;
	    	font-size: 1.1vw;
	    	font-family: Olympia_Deco, Arial;
	    	position: relative;
	    	transition: inherit;
    	}
  	}
}

ul.products-menu.hidden {
	display: none;	
}


.products-menu__link:before {
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	background-color: #000;
	position: absolute;
	left: -15px;
	top: 50%;
}


@media all and (max-height: 830px) {
	.panel__contact-email {
		font-size: 1.3vw;
	}

	.panel__contact-phone {
		font-size: 1.9vw;
	}

	.panel__logo {
	    padding: 2vh 20px 3vh;
	}	

	.panel__title {
		font-size: 3vw;
		&_sub {
			font-size: 1vw;
		}
	}

}