doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport' content="width=device-width,initial-scale=1")
    meta(name="description", content="Вереск кондитерская продукция")
    meta(name="keywords", content="вереск кондитерская продукция")
    meta(name="author", content="Aleksey Isaev")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    title
      block title
  body
    .aside-trigger
      -var lines = 3;
      #hamburger-9          
        - while(lines--)
          .aside-trigger__line 
    .wrapper
      include ../components/aside/aside
      block main
      include ../components/modal/modal
