doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name='viewport' content="width=device-width,initial-scale=1")
    meta(name="description", content="Вереск кондитерская продукция")
    meta(name="keywords", content="вереск кондитерская продукция")
    meta(name="author", content="Aleksey Isaev")
    title
      block title
    body      
      .wrapper
        include ../components/aside/aside
        block main