doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name='viewport' content="width=device-width,initial-scale=1")
    meta(name="description", content="Вереск кондитерская продукция")
    meta(name="keywords", content="вереск кондитерская продукция")
    meta(name="author", content="Aleksey Isaev")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    //- Yandex.Metrika counter
    script(type="text/javascript").
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter47409502 = new Ya.Metrika2({
                        id:47409502,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    noscript.
      <div><img src="https://mc.yandex.ru/watch/47409502" style="position:absolute; left:-9999px;" alt="" /></div>
    script.
      var $buoop = {notify:{i:-1,f:-0.01,o:-0.01,s:-0.01,c:-0.01},api:5}; 
      function $buo_f(){ 
           var e = document.createElement("script"); 
           e.src = "//browser-update.org/update.min.js"; 
           document.body.appendChild(e);
           return;
      }
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    title
      block title
  body
    .aside-trigger
      -var lines = 3;
      #hamburger-9          
        - while(lines--)
          .aside-trigger__line 
    .wrapper
      include ../components/aside/aside
      block main
      include ../components/modal/modal
