#modal-1(aria-hidden="true").micromodal-slide
  div(tabindex="-1" data-micromodal-close).modal__overlay
    div(role="dialog" aria-modal="true" aria-labelledby="modal-1-title").modal__container
      img(src="./images/cart.jpg", alt="").modal__content
      button(aria-label="Close modal" data-micromodal-close).modal__close
#modal-2(aria-hidden="true").micromodal-slide
  div(tabindex="-1" data-micromodal-close).modal__overlay
    div(role="dialog" aria-modal="true" aria-labelledby="modal-1-title").modal__container
      #modal-1-content.modal__content
        a(href='./price.pdf' download).modal-2-button.modal-2-button--xls
          span PDF
        a(href='./price.xls' download).modal-2-button.modal-2-button--pdf
          span XLS
#modal-3(aria-hidden="true").micromodal-slide
  div(tabindex="-1" data-micromodal-close).modal__overlay
    div(role="dialog" aria-modal="true" aria-labelledby="modal-1-title").modal__container
      #modal-3-content.modal__content
        .modal__company-logo
          img(src=require('./footer_logo.png') alt='Письмо выслано')
        .modal__dialog
          .modal__dialog-title Cпасибо!
          | Ваша заявка принята!
        .modal__send-image
          img(src=require('./send_logo.png') alt='Письмо выслано')
      button(aria-label="Close modal" data-micromodal-close).modal__close
