@import "fonts";
@import "_vars";



html {
	height: 100%;
}

body {
	background-color: $white;
	font-family: 'Tinos', Georgia, serif;
	height: 100%;
	width: 100%;
	font-size: 16px;
    margin: 0;
    padding: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

section, footer {	
	display: flex!important;
	justify-content: flex-end;

	@include desktops() {
		justify-content: normal;
	}
}

.main__wrapper, .section-wrapper, .products__wrapper {
	-webkit-box-shadow: -10px 0px 20px -4px rgba(50, 50, 50, 1);
	-moz-box-shadow:    -10px 0px 20px -4px rgba(50, 50, 50, 1);
	box-shadow:         -10px 0px 20px -4px rgba(50, 50, 50, 1);
}

.heading {
	position: absolute;    
    left: -62px;
	display: block;
	height: 114px;
	width: 60vw;
	color: $white;
	line-height: 114px;
	font-size: 2.9vw;
	font-family: Olympia_Deco, Arial;
	padding-left: 125px;
	z-index: 100;
	background: transparent url(./images/heading_flag.png) 0 0 no-repeat;

	@include desktops() {
		height: 57px;
		line-height: 57px;	
		font-size: 6vw;
	}

}


.products__wrapper {
	.heading {
		@include medium-desktops() {
			left: -32px;
			height: 57px;
			line-height: 57px;	
		}
	}	
}

// footer

.footer {
	background-color: #0e0ab3;
	height: 115px;
}

.footer-wrapper {
	position: relative;
    box-shadow: none;
    width: 75.3vw;
    box-shadow: none;
    background-color: #0e0ab3;
}

.footer__logo {
	position: absolute;
	right: 3%;
	top: -10px;
	bottom: 0;
	background: transparent url(./images/footer_logo.png) 0 0 no-repeat;
	height: 45px;
	width: 113px;
	margin: auto;
	text-align: center;
	span {
		position: absolute;
		bottom: -30px;
		color: $white;
		font-size: 18px;
	    font-family: 'Tinos', serif;
	    text-transform: uppercase;
	    left: 0;
	    right: 0;
	    margin: auto;
	}
}

// Menu Trigger

.aside-trigger {
	display: none;
	position: fixed;
	right: 2vw;
	top: 0;
    z-index: 1000;
    background-color: $white;
    padding: 10px;

	.aside-trigger__line {
	    width: 20px;
	    height: 2px;
	    background-color: #0e0ab3;
	    display: block;
	    margin: 3px auto;
	    transition: all 0.3s ease-in-out;
	}

	&:hover {
		cursor: pointer;
	}

	@include desktops() {
		display: block;
	}
}

#hamburger-9 {
  position: relative;
  transition: all 0.3s ease-in-out;	
}



#hamburger-9.is-active {
  transform: rotate(45deg);	
}

#hamburger-9:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}



#hamburger-9.is-active:before {
  border: 2px solid #0e0ab3;	
}


#hamburger-9.is-active .aside-trigger__line {
  width: 20px;	
}


#hamburger-9.is-active .aside-trigger__line:nth-child(2) {
	opacity: 0;
}

#hamburger-9.is-active .aside-trigger__line:nth-child(1) {
  transform: translateY(5px);
}


#hamburger-9.is-active .aside-trigger__line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}