@import "fonts";

html {
	height: 100%;
}

body {
	background-color: #fff;
	font-family: 'Tinos', Georgia, serif;
	height: 100%;
	width: 100%;
	font-size: 16px;
    margin: 0;
    padding: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

section, footer {	
	display: flex!important;
	justify-content: flex-end;
}

.heading {
	position: absolute;    
    left: -6%;
	display: block;
	height: 114px;
	width: 60vw;
	color: #fff;
	line-height: 114px;
	font-size: 58.34px;
	font-family: Olympia_Deco, Arial;
	padding-left: 125px;
	z-index: 100;
	background: transparent url(./heading_flag.png) 0 0 no-repeat;
}
