extends ../base
block title
  | Вереск
block main
  section#products
    .products__wrapper
      .loader
        img(src=require('./loader.svg') width="100")                               
  footer.footer
    .section-wrapper.footer-wrapper
      .footer__logo
        span ооо вереск              
  template        
    .product-item 
      .heading.heading--products вафли       
      .product-item__image
        img(src=require("./vafli1.png") alt="Продукция вереск")
      .product-item__desc
        .product-item__desc-pointer
        .product-item__desc-title вафли весовые
        .product-item__desc-text
          | Сливочно-ванильные, крем-брюле, топленое молоко,
          | какао-шоколадные, с ароматом лесного ореха,
          | с ароматом лимона, с ароматом лесных ягод
        .product-item__desc-params
          .desc-param
            .desc-param__name Срок годности(мес)  
            .desc-param__value.desc-param__value--before 6
          .desc-param
            .desc-param__name Фасовка (г)  
            .desc-param__value.desc-param__value--fasovka 210 
          .desc-param
            .desc-param__name Кол-во ед. фасовки (в коробке)  
            .desc-param__value.desc-param__value--numPerBox 20                        
          .desc-param
            .desc-param__name Вес нетто(кг) 
            .desc-param__value.desc-param__value--weight 5.6
          .desc-param
            .desc-param__name Гофрокороб (мм)  
            .desc-param__value.desc-param__value--box 345х265х200
